:root{
    --primary: #516eff;
    --lightpriary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted: #777777;
    --whiteBG: #F8FAFC;
    --footerBG: #216583;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, 'Sans serif';
}
::-webkit-scrollbar{
    width: 15px;
    height: 0px; 
}
::-webkit-scrollbar-thumb {
    
    background-color: var(--primary);
    border-radius: 15px;
}
header #nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid var(--muted);
    color: var(--silver);
    background-color: var(--whiteBG);
    box-shadow: 2px 0 10px 2px var(--defaultLinkColor);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
header #nav-bar img {
    width: 200px;
    height: 50px;
    margin-left: 50px;
}
header #nav-bar div a {
    padding: 20px;
    text-decoration: none;
    color: var(--muted);
    font-size: 18px;
    
}
header #nav-bar div a:hover {
    color: var(--primary);
    font-weight: bold;
}
header #nav-bar div button {
    padding: 12px 35px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    margin-right: 50px;
}

/* Code CSS de la section HOME */

#home {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .contener {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#home .div-left h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
button:hover,input[type="submit"]:hover {
    cursor: pointer;
}

span {
    color: var(--yellow);
}

#home .div-left p {
    color: var(--muted);
    font-size: 20px;
    margin-bottom: 80px;
}

#home .button-contener {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 30px 0;
}
#home .img-rigth {
    width: 400px;
    height: 350px;
}
#home .button-contener button {
    margin-top: 50px;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
}
#home .button-blue {
    background-color: var(--primary);
    border-radius: 5px;
    border: 1px solid var(--muted); 
    color: var(--white);
}
#home .button-white {
    background-color: var(--whiteBG);
    border-radius: 5px;
    border: 1px solid var(--muted);
}

/* Code CSS de la deuxième section SERVICE */

#services .div-blue {
    display: flex;
    width: 100%;
    padding: 20px 15px;
    background-color: var(--primary);
    justify-content: space-between;
}
#services .left {
    color: var(--white);
    padding: 40px;
    font-size: 25px;
}
#services .left p {
    font-size: 20px;
    padding: 20px;
}
#services .right {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
 
}

#services .right div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteBG);
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    color: var(--muted);
    font-weight: bold;
}
#services .right div img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}
#services .content-service {
    display: flex;
}
#services .image-doctor {
    background-color:#77777707;
    border-radius: 25px;
    height: 20%;
    margin-right: 50px;
    padding-top: 5%;
    
}
.content-service ul {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 50px);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 6%;
    
}
.content-service ul .title {
    grid-column: 1/3;
    list-style: none;
    margin-right: 250px;
    text-align: right;
}

.content-service ul li {
   list-style-image: url('../images/shield.png');
    list-style-position: inside;

}

/* Code CSS de la Section About Us */

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-us .special {
    width: 90%;
    margin-top: 1%;
    display: flex;
    font-size: 25px;
    flex-direction: column;
}

#about-us .special div {
    display: flex;
    justify-content: space-between;
}

#about-us .special div h2 {
    margin-top: 20px;
    font-size: 50px;
}
#about-us .special  h3 {
    margin-top: -40px;
    font-size: 40px;
}
#about-us .special hr {
    margin-left: 160px;
    margin-top: -10px;
}

#about-us .contener {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 30px ;
    margin: 50px 80px;
}
#about-us .contener div {
    background-color: var(--whiteBG);
    padding: 30px;
    color: var(--muted);
    border-radius: 15px;
    border: solid var(--silver) 1px;
}
#about-us .contener div img {
    width: 80px;
    height: auto;
}
#about-us .contener h4 {
    color: black;
    padding: 10px;
    font-size: 18px;
}
#about-us .contener p {
    font-size: 15px;
    line-height: 22px;
}

/* Code CSS de la section history */
#history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 20px 15px;
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    color: var(--white);
    
}
#section-blue div {
    width: max-content;
    text-align: center;
}
#section-blue div h2 {
    padding-bottom: 30px;
    font-weight: normal;
}
#section-blue div h2 span {
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
}
#section-blue div p {
    line-height: 25px;
    font-size: 15px;
}
#section-blue div button {
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 10px;
    color: var(--white);
    border: var(--white) solid 1px;
    margin-top: 40px;
}
.glorius {
    width: 90%;
}
.glorius div {
    display: flex;
    justify-content: space-between;
    
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 0px;
}
.glorius div h2 {
    font-size: 35px;
    margin-top: -15px;
}
.glorius hr {
    margin-right: 150px;
}

.glorius h2 {
    font-size: 40px;
    text-align: right;
    margin-top: -35px;

}
#history .or-history {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    margin-top: 30px;
  
}
#history .or-history img {
    width: 450px;
    margin-top: 50px;  
    padding-right: 50px;
}
#history .or-history div {
    width: 500px;
    padding: 40px;
    margin-left: 50px;
    background-color: var(--whiteBG);
    border: var(--muted) solid 1px;
    margin-top: 50px;
    border-radius: 10px;
    height: max-content;
    border: var(--silver) solid 1px;
    color: var(--muted);
    line-height: 25px;
    font-size: 14px;
}
#history .or-history div h2 {
    margin-bottom: 20px;
}
#meet-doctor {
    display: flex;
    background-color: var(--whiteBG);
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
#meet-doctor .meet {
    width: 90%;
    margin-top: 1%;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}
#meet-doctor .meet div {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
#meet-doctor .meet hr {
    margin-left: 150px;
    margin-top: -20px;
}
#meet-doctor .meet h1 {
    font-size: 30px;
}
#meet-doctor .meet h3 {
    font-size: 40px;
    margin-top: -20px;
}
#meet-doctor .doctors {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
}
#meet-doctor .doctors div {
    margin: 50px;
    color: var(--muted);
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    font-size: 15px;
    line-height: 20px;
}
#meet-doctor .doctors div img {
    width: 180px;
}
#meet-doctor .doctors div h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    font-weight: normal;
}
#meet-doctor .doctors div button {
    width: 120px;
    padding:  5px 20px;
    margin-top: 15px;
    background-color: var(--whiteBG);
    color: var(--lightpriary);
    border-radius: 5px;
    border-color: var(--primary);
    border-style: solid;
}

.section-blue .div-right {
    width: 100px;
    padding: 50px 30px 0px 0px;
    margin: 30px 150px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.section-blue .div-right div {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-blue .div-right div div {
    height: 10px;
    background-color: var(--silver);
    margin: 10px;
    border-radius: 50%;
    font-size: 35px;
    color: transparent;
}
.section-blue .image-left {
    margin: 15px 15px 20px 100px  ;
    background-color: var(--whiteBG);
    padding: 20px;
    color: black;
    border-radius: 5px;
    font-size: 13px;
}
.section-blue .image-left img {
    margin-bottom: 10px;
    width: 200px;
}

/* Code CSS de la section resister  */

#register {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#register .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 50px;
}
#register .contener img {
    width: 400px;
    margin-left: -70px;
}
#register .contener form {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(8,auto);
    column-gap: 20px;
    padding: 25px;
    margin-left: 20px;
    color: var(--muted);
}
#register .contener form label{
    font-size: 15px;
    margin: 15px 0 2px 5px;

}
#register .contener form :is(input, select) {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: solid var(--silver) 1px;
}
#register .contener form textarea {
    grid-column: 1/3;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    border: 5px;
    border-radius: 5px;
    border: solid var(--muted) 1px;
    resize: none;
    padding: 10px;

}
#register .contener form div {
    display: flex;
    justify-content: center;
    position: relative;
}
#register .contener form div select {
    position: absolute;
    bottom: 10px;
    width: 50px;
    border: none;
    left: 20px;
    padding: 0;
    background-color: transparent;
}#register .contener form div input {
    padding-left: 70px;
    
} 

 #register .contener form .div-checkbox {
    padding: 15px;
    margin: 10px;
    grid-column: 1/3;
    font-size: 5px;
    color: var(--muted);
    display: flex;
    justify-content: start;
}
#register .contener form .div-checkbox :is(input,label){
    width: auto;
    margin: 5px;
    padding: 5px;
}
#register .contener form input[type="submit"] {
    grid-column: 1/3;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    font-size: 15px;
}

/* Code CSS de la section subscribe */

#subscribes {
    width: 100vw;
    background-color: var(--whiteBG);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#subscribes .subscribe {
    width: 90%;
    background-color: var(--footerBG);
    display: flex; flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--white);
    font-size: 20px;
    border-radius: 15px;
    margin: 30px;
}
#subscribes .subscribe h2{
    font-size: 50px;
}
#subscribes .subscribe div {
    display: flex;
    justify-content: space-between;
}
#subscribes .subscribe input {
    padding: 15px;
    margin: 50px 25px auto 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--silver);
    width: auto;
    font-size: 20px;
    color: var(--defaultLinkColor);

  
}
#subscribes .subscribe input::placeholder{
     color: var(--white);
     font-size: 16px;  

}
#subscribes .subscribe input[type="submit"] {
    background-color: var(--whiteBG);
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
}

/* Code CSS de la section d'informations */
#informations {
    background-color: var(--primary );
    display: flex;
    justify-content: center;
    height: 50vh;

}
#informations .information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    font-size: 13px;
    line-height: 25px;
}
#informations .information div {
    width: 30%;
    color: var(--white);
    padding: 0 2%;
}
#information infora.logo-dentic{

    line-height: 35px;
}
.logo-dentic img {
    width: 150px;
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
    margin-top: 0;
}
.welcomming {
    border-left: solid var(--silver) 1px;
}
.welcomming h5 {
    font-size: 25px;
    margin: 20px 0px;
}
.important-link {
    border-left: solid var(--silver) 1px;
    border-right: solid var(--silver) 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.important-link h4 {
    grid-column: 1/3;
}
.address h4{
    margin-bottom: 30px;
}
.address h5{
    margin-bottom: 30px;  
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footerBG);
    color: var(--white);
    padding: 15px;
}
section {
    margin-top: 50px;
}